.social-contacts {
  padding: 5px 0px 5px 0px;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
}

.intro-header {
  margin-bottom: 30px;
}

footer {
    padding: 0px 0px 30px;
}

h1, h2, h3, h4, h5, h6, body {
    font-family: 'Roboto', sans-serif;
}

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading,.intro-header .post-heading .meta {

    font-family: 'Roboto', sans-serif;
    font-style: normal;

}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
