.social-contacts {
  padding: 5px 0px 5px 0px;
  list-style-type: none;
  text-align: center;
  vertical-align: top;
}

.intro-header {
  filter: brightness (50%);
}

footer {
    padding: 0px 0px 0px;
}
