body {
  background-color: lightgrey;
}

.social-contacts {
  color: purple;
  padding: 5px 0px 5px 0px;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
}

.fa {
  color: purple;
}

.intro-header {
  margin-bottom: 30px;
}

footer {
    padding: 0px 0px 30px;
}

h1, h2, h3, h4, h5, h6, body {
    font-family: 'Ubuntu', sans-serif;
}

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading,.intro-header .post-heading .meta  {

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;

}

.post-preview > .post-meta {
    font-style: normal;
    font-size: 16px;
    color: purple;
}


.post-preview > a > .post-title {
    font-size: 24px;
    color: purple;
}

.nav, .navbar-default, .navbar-header, .navbar-custom, .navbar {
    font-family:  'Ubuntu', sans-serif;
    color: purple;
}

.navbar-brand {
    font-size: 24px;
    text-align: center;
    color: purple;
}

.navbar-default .navbar-brand {
    color: purple;
}

.navbar-default .navbar-text {
    color: purple;
}

.navbar-default .navbar-link {
    color: purple;
}

.navbar-default .btn-link {
    color: purple;
}

.navbar-default .navbar-nav > li > a {
    color: purple;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
