<footer class="site-footer">

  <div class="wrapper">

        <nav>
          {% include icon-instagram.html username=site.github_username %}
          {% include icon-youtube.html username=site.github_username %}
          {% include icon-twitter.html username=site.twitter_username %}
          {% include icon-pinterest.html username=site.twitter_username %}
          {% include icon-rss.html username=site.twitter_username %}
          
        </nav>

        <br>
        <p>&#169 Martin Dawson</p>
    </div>

  </div>

</footer>
