<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
        <ul class="social-media-list">
          <li>
            {% include icon-email.html username=site.github_username %}
          </li>
          <li>
            {% include icon-instagram.html username=site.github_username %}
          </li>
          <li>
            {% include icon-youtube.html username=site.github_username %}
          </li>
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
            {% include icon-pinterest.html username=site.twitter_username %}
          </li>
        </ul>

        <br>
        <p>&#169 Martin Dawson</p>
    </div>

  </div>

</footer>
