<ul class="list-inline text-centre social-contacts">  
  <li>
    <a href="http://twitter.com/dawsneyland">
 <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-lg fa-inverse"></i>
                            </span>

  <li><a href="http://pinterest.com/dawsneyland">
<span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pinterest fa-stack-lg fa-inverse"></i>
                            </span>

   </a></li>
  <li><a href="http://youtube.com/dawsneyland">
<span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube fa-stack-lg fa-inverse"></i>
                            </span>

</a></li>
  <li><a href="http://instagram.com/dawsneyland">
<span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-lg fa-inverse"></i>
                            </span>

</a></li>
  <li><a href="/feed.xml">
<span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-lg fa-inverse"></i>
                            </span>

</a></li>
</ul>
