---
layout: page
title: "Blog"
description: "That's what I'm talking about!"
header-img: "img/penpaper.jpg"
---

<!--
{% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}">
        <p>{{ post.date | date: "%d %b %Y" }} &bull; {{ post.title }}
        </p>
    </a>
{% endfor %}
-->


{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
